.slider {
    width: 200px;
    margin: auto;
    overflow: hidden;
    overflow-x: scroll;
}

.slider img {
    width: 200px;
    height: 100%;
}

.slider .images-wrapper {
    position: relative;
    display: flex;
    padding: 0;
    transition: 0.3s ease-out;
}